<footer class="footer footer-center bg-neutral p-10 text-base-content">
  <div class="grid grid-flow-col gap-4 text-secondary">
    <%= link_to '利用規約', terms_path, class: "link link-hover" %>
    <%= link_to 'プライバシーポリシー', privacy_path, class: "link link-hover" %>
    <%= link_to 'お問い合わせ', class: "link link-hover" %>
  </div> 
  <div class="text-secondary">
    <p>Copyright © 2023 - All right reserved</p>
  </div>
</footer>